/* CANVAS */

#rendererCanvas_laboratory {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* BACKGROUND */

#div-introductionBackground {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #16013000;
}

/* INTRODUCTION */

.container-introduction-mini {
  z-index: 9;
  position: absolute;
}

.container-introduction-mini {
  grid-template-columns: [col-start-mini] 50px [col-1-mini] 80px [col-2-mini] auto [col-stop-mini];
  grid-template-rows: [row-start-mini] 55px [row-1-mini] 60px [row-2-mini] auto [row-3-mini] 40px [row-4-mini] 20px [row-stop-mini];
  display: grid;
  height: 100%;
  max-height: 350px;
  margin-left: 60px;
  margin-right: 20px;
}

.logo-moko-introduction-mini {
  grid-area: row-1-mini / col-start-mini / row-2-mini / col-2-mini;
  grid-auto-rows: auto;
  width: 50px;
  height: 60px;
}

.h1s-introduction-mini {
  grid-area: row-1-mini / col-1-mini / row-2-mini / col-stop-mini;
  grid-auto-rows: auto;
  font-family: Montserrat-Black;
  color: white;
  padding-left: 20px;
}

.h1-english-mini {
  font-size: 24px;
  line-height: 26px;
}

.h1-french-mini {
  font-size: 20px;
  line-height: 22px;
  padding-top: 7px;
}

.h1-spanish-mini {
  font-size: 20px;
  line-height: 22px;
  padding-top: 7px;
}

.text-introduction-mini {
  grid-area: row-2-mini / col-start-mini / row-3-mini / col-stop-mini;
  grid-auto-rows: auto;
  margin-top: 10px;
  font-size: 15px;
  padding-right: 20px;
  margin-bottom: 0px;
  width: 500px;
  color: #D3D3D3;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: none;
}

.btn-enter-mini {
  grid-area: row-3-mini / col-start-mini / row-4-mini / col-2-mini;
  grid-auto-rows: auto;
  width: 75px;
  height: 40px;
  margin-bottom: 20px;
}

.spans-language-mini {
  grid-area: row-3-mini / col-2-mini / row-4-mini / col-stop-mini;
  grid-auto-rows: auto;
  margin-top: 10px;
  margin-left: 230px;
}

.container-introduction {
  z-index: 9;
  position: absolute;
}

@media (max-width: 576px) {
  .container-introduction {
    grid-template-columns: [col-start] 43px [col-1] 36px [col-2] auto [col-stop];
    grid-template-rows: [row-start] 90px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 65px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .logo-moko-introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 79px;
    height: 90px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 15px;
    margin-right: 20px;
  }

  .h1-english {
    font-size: 22px;
    line-height: 24px;
    padding-top: 26px;
  }

  @media (max-width: 416px) {
    .h1-english {
      font-size: 22px;
      line-height: 24px;
      padding-top: 3px;
    }
  }

  .h1-french {
    font-size: 20px;
    line-height: 22px;
    padding-top: 30px;
  }

  @media (max-width: 428px) {
    .h1-french {
      font-size: 20px;
      line-height: 22px;
      padding-top: 8px;
    }
  }

  .h1-spanish {
    font-size: 20px;
    line-height: 22px;
    padding-top: 30px;
  }

  @media (max-width: 432px) {
    .h1-spanish {
      font-size: 20px;
      line-height: 22px;
      padding-top: 8px;
    }
  }

  .text-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
    max-height: 200px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .container-introduction {
    grid-template-columns: [col-start] 43px [col-1] 41px [col-2] 344px [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo-moko-introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 84px;
    height: 100px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 20px;
  }

  .h1-english {
    font-size: 24px;
    line-height: 26px;
    padding-top: 31px;
  }

  .h1-french {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  .h1-spanish {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  .text-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    padding-right: 20px;
    width: 450px;
    max-height: 200px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .container-introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 300px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 100px;
    margin-left: 50px;
  }

  .logo-moko-introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    font-size: 24px;
    line-height: 26px;
    padding-top: 22px;
    padding-left: 20px;
  }

  .h1s-introduction-isCV {
    padding-top: 47px;
  }

  .text-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 406px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .container-introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 320px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
  }

  .logo-moko-introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    font-size: 26px;
    line-height: 26px;
    padding-top: 21px;
    padding-left: 20px;
  }

  .h1s-introduction-isCV {
    padding-top: 47px;
  }

  .text-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 426px;
    max-height: 400px;
    font-size: 16px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 1140px) {
  .container-introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 400px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;
  }

  @media (min-width: 1400px) {
    .container-introduction {
      margin-left: 150px;
    }
  }

  .logo-moko-introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 20px;
  }

  .h1-english {
    font-size: 26px;
    line-height: 26px;
    padding-top: 46px;
  }

  .h1-french {
    font-size: 23px;
    line-height: 25px;
    padding-top: 49px;
  }

  .h1-spanish {
    font-size: 22px;
    line-height: 24px;
    padding-top: 52px;
  }

  .text-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 506px;
    max-height: 500px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

/* MENU */

.menu-container {
  z-index: 5;
  position: absolute;
}

.initPosition-container {
  z-index: 6;
  position: absolute;
}

@media (max-width: 599px) {
  .menu-container {
    grid-template-columns: [col-start-menu] 40px [col-1-menu] 40px [col-2-menu] 40px [col-3-menu] 40px [col-4-menu] 40px [col-5-menu] 40px [col-6-menu] 40px [col-7-menu] auto [col-8-menu] 80px [col-stop-menu];
    grid-template-rows: [row-start-menu] 40px [row-stop-menu];
    display: grid;
    bottom: 0px;
    width: 100%;
    height: 40px;
  }

  .menu {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-8-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu-icon-development {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-1-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-datas {
    grid-area: row-start-menu / col-1-menu / row-stop-menu / col-2-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-threed {
    grid-area: row-start-menu / col-2-menu / row-stop-menu / col-3-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-arvr {
    grid-area: row-start-menu / col-3-menu / row-stop-menu / col-4-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-socialNetworks {
    grid-area: row-start-menu / col-4-menu / row-stop-menu / col-5-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-photography {
    grid-area: row-start-menu / col-5-menu / row-stop-menu / col-6-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-movies {
    grid-area: row-start-menu / col-6-menu / row-stop-menu / col-7-menu;
    grid-auto-rows: auto;
  }

  .menu-icons {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition-container {
    grid-template-columns: [col-start-menu] 40px [col-1-menu] 40px [col-stop-menu];
    grid-template-rows: [row-start-menu] 40px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 40px;
    background-color: #00000066;
  }

  .menu-icon-cameraAnaglyph {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-1-menu;
    grid-auto-rows: auto;
  }

  .icon-initPosition {
    grid-area: row-start-menu / col-1-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}

@media (min-width: 600px) {
  .menu-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 270px [row-1-menu] 50px [row-2-menu] 50px [row-3-menu] 50px [row-4-menu] 50px [row-5-menu] 50px [row-6-menu] 50px [row-7-menu] 1fr [row-8-menu] 110px [row-stop-menu];
    display: grid;
    right: 0px;
    width: 50px;
    height: 100%;
  }

  .menu {
    grid-area: row-1-menu / col-start-menu / row-8-menu / col-stop-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu-icon-development {
    grid-area: row-1-menu / col-start-menu / row-2-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-datas {
    grid-area: row-2-menu / col-start-menu / row-3-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-threed {
    grid-area: row-3-menu / col-start-menu / row-4-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-arvr {
    grid-area: row-4-menu / col-start-menu / row-5-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-socialNetworks {
    grid-area: row-5-menu / col-start-menu / row-6-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-photography {
    grid-area: row-6-menu / col-start-menu / row-7-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icon-movies {
    grid-area: row-7-menu / col-start-menu / row-8-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icons {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-1-menu] 60px [row-2-menu] 10px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 110px;
    background-color: #00000066;
  }

  .menu-icon-cameraAnaglyph {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .icon-initPosition {
    grid-area: row-1-menu / col-start-menu / row-2-menu / col-stop-menu;
    grid-auto-rows: auto;
  }
}

/* MENU isMini */

.menu-container-left-mini {
  z-index: 5;
  position: absolute;
}

.menu-container-right-mini {
  z-index: 5;
  position: absolute;
}

/* MENU LEFT isMini */

.menu-container-left-mini {
  grid-template-columns: [col-start-menu-left-mini] 40px [col-stop-menu-left-mini];
  grid-template-rows: [row-start-menu-left-mini] 60px [row-1-menu-left-mini] 40px [row-2-menu-left-mini] 40px [row-3-menu-left-mini] 40px [row-4-menu-left-mini] 1fr [row-stop-menu-left-mini];
  display: grid;
  left: 0px;
  width: 40px;
  height: 100%;
}

.menu-left-mini {
  grid-area: row-1-menu-left-mini / col-start-menu-left-mini / row-stop-menu-left-mini / col-stop-menu-left-mini;
  grid-auto-rows: auto;
  background-color: #00000066;
}

.menu-icon-cameraAnaglyph-mini {
  grid-area: row-1-menu-left-mini / col-start-menu-left-mini / row-2-menu-left-mini / col-stop-menu-left-mini;
  grid-auto-rows: auto;
}

.menu-icon-photography-mini {
  grid-area: row-2-menu-left-mini / col-start-menu-left-mini / row-3-menu-left-mini / col-stop-menu-left-mini;
  grid-auto-rows: auto;
}

.menu-icon-movies-mini {
  grid-area: row-3-menu-left-mini / col-start-menu-left-mini / row-4-menu-left-mini / col-stop-menu-left-mini;
  grid-auto-rows: auto;
}

.initPosition-container-mini {
  grid-template-columns: [col-start-initPosition-mini] 40px [col-stop-initPosition-mini];
  grid-template-rows: [row-start-initPosition-mini] 45px [row-stop-initPosition-mini];
  display: grid;
  z-index: 6;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 45px;
}

.initPosition-mini {
  grid-area: row-start-initPosition-mini / col-start-initPosition-mini / row-stop-initPosition-mini / col-stop-initPosition-mini;
  grid-auto-rows: auto;
}

.icon-initPosition-mini {
  grid-area: row-start-initPosition-mini / col-start-initPosition-mini / row-stop-initPosition-mini / col-stop-initPosition-mini;
  grid-auto-rows: auto;
  width: 40px;
  height: 40px;
}

/* MENU RIGHT isMini */

.menu-container-right-mini {
  grid-template-columns: [col-start-menu-right-mini] 40px [col-stop-menu-right-mini];
  grid-template-rows: [row-start-menu-right-mini] 60px [row-1-menu-right-mini] 40px [row-2-menu-right-mini] 40px [row-3-menu-right-mini] 40px [row-4-menu-right-mini] 40px [row-5-menu-right-mini] 40px [row-6-menu-right-mini] auto [row-stop-menu-right-mini];
  display: grid;
  right: 0px;
  width: 40px;
  height: 100%;
}

.menu-right-mini {
  grid-area: row-1-menu-right-mini / col-start-menu-right-mini / row-stop-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
  background-color: #00000066;
}

.menu-icon-development-mini {
  grid-area: row-1-menu-right-mini / col-start-menu-right-mini / row-2-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
}

.menu-icon-datas-mini {
  grid-area: row-2-menu-right-mini / col-start-menu-right-mini / row-3-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
}

.menu-icon-threed-mini {
  grid-area: row-3-menu-right-mini / col-start-menu-right-mini / row-4-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
}

.menu-icon-arvr-mini {
  grid-area: row-4-menu-right-mini / col-start-menu-right-mini / row-5-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
}

.menu-icon-socialNetworks-mini {
  grid-area: row-5-menu-right-mini / col-start-menu-right-mini / row-6-menu-right-mini / col-stop-menu-right-mini;
  grid-auto-rows: auto;
}

.menu-icons-mini {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

/* MENU MOVIES */

.menuMovies-container {
  z-index: 4;
  position: absolute;
}

@media (max-width: 599px) {
  .menuMovies-container {
    grid-template-columns: [col-start-menu] auto [col-1-menu] auto [col-2-menu] auto [col-stop-menu];
    grid-template-rows: [row-start-menu] auto [row-stop-menu];
    display: grid;
    left: 134px;
    bottom: 45px;
    background-color: #00000066;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

@media (min-width: 600px) {
  .menuMovies-container {
    grid-template-columns: [col-start-menu] auto [col-1-menu] auto [col-2-menu] auto [col-stop-menu];
    grid-template-rows: [row-start-menu] auto [row-stop-menu];
    display: grid;
    top: 477px;
    right: 60px;
    background-color: #00000066;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

@media (max-height: 500px) {
  .menuMovies-container {
    grid-template-columns: [col-start-menu] auto [col-1-menu] auto [col-2-menu] auto [col-stop-menu];
    grid-template-rows: [row-start-menu] auto [row-stop-menu];
    display: grid;
    left: auto;
    bottom: auto;
    top: 223px;
    right: 45px;
    background-color: #00000066;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

.buttons-movies {
  color: grey;
}

.buttons-movies:hover {
  color: white;
  cursor: pointer;
}

/* CARDS */

.container-cards-mini {
  z-index: 3;
  position: absolute;
}

.title-card-mini {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 200px;
  height: 70px;
}

.spans-language-cards-mini {
  position: absolute;
  top: 140px;
  left: 60px;
}

.h1-card-mini {
  position: absolute;
  top: 60px;
  left: 270px;
  width: 350px;
  font-family: Roboto-Bold;
  font-size: 18px;
  text-align: end;
  padding-right: 20px;
  color: #D3D3D3;
}

.texts-card-mini {
  position: absolute;
  top: 90px;
  left: 270px;
  color: #D3D3D3;
  width: 350px;
  max-height: 180px;
  font-size: 14px;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: none;
  padding-top: 10px;
  padding-right: 20px;
}

.gif-card {
  width: 330px;
}

.container-cards {
  z-index: 3;
  position: absolute;
}

@media (min-width: 576px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .gif-card {
    width: 330px;
  }

  .spans-language-cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 1fr [col-stop-cards];
    grid-template-rows: [row-start-cards] 87px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 250px;
    height: 87px;
  }

  .h1-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    width: auto;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 15px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .gif-card {
    margin-right: 30px;
  }

  .spans-language-cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 300px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .gif-card {
    width: 330px;
  }

  .spans-language-cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 400px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .gif-card {
    width: 380px;
  }

  .spans-language-cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 1140px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 500px [col-stop-cards];
    grid-template-rows: [row-start-cards] 134px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 500px;
    margin-left: 100px;
    padding-bottom: 20px;
  }

  @media (min-width: 1400px) {
    .container-cards {
      margin-left: 150px;
    }
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    width: 384px;
    height: 134px;
  }

  .h1-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 500px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .gif-card {
    width: 380px;
  }

  .spans-language-cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

/* SPANS DEVELOPMENT */

.span-development {
  font-size: 12px;
  padding-left: 10px;
}

/* BADGES */

.span-language {
  cursor: pointer;
}

.badge {
  background-color: #777777;
}

/* CACHE */

.cacheMobileDevice-container {
  z-index: 2;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

@media (max-width: 576) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 576px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 960px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 1140px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

::-webkit-scrollbar-track {
  scroll-margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  scroll-margin-left: 20px;
  border-radius: 10px;
  background-color: #ffffff44;
}

/* LINKS */

.links {
  cursor: pointer;
}
