/* CANVAS */

#rendererCanvas_development {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* BACKGROUND */

#div-introduction-background {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00248600;
}

/* INTRODUCTION */

.container-introduction-mini {
  z-index: 9;
  position: absolute;
}

.container-introduction-mini {
  grid-template-columns: [col-start-mini] 50px [col-1-mini] 80px [col-2-mini] auto [col-stop-mini];
  grid-template-rows: [row-start-mini] 55px [row-1-mini] 60px [row-2-mini] auto [row-3-mini] 40px [row-4-mini] 20px [row-stop-mini];
  display: grid;
  height: 100%;
  max-height: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo-introductionDevelopment-mini {
  grid-area: row-1-mini / col-start-mini / row-2-mini / col-2-mini;
  grid-auto-rows: auto;
  width: 200px;
  height: 60px;
}

.h1s-introduction-mini {
  grid-area: row-1-mini / col-1-mini / row-2-mini / col-stop-mini;
  grid-auto-rows: auto;
  font-family: Montserrat-Black;
  color: white;
  padding-left: 20px;
}

.h1-english-mini {
  font-size: 24px;
  line-height: 26px;
}

.h1-french-mini {
  font-size: 20px;
  line-height: 22px;
  padding-top: 7px;
}

.h1-spanish-mini {
  font-size: 20px;
  line-height: 22px;
  padding-top: 7px;
}

.text-introduction-mini {
  grid-area: row-2-mini / col-start-mini / row-3-mini / col-stop-mini;
  grid-auto-rows: auto;
  margin-top: 10px;
  font-size: 15px;
  padding-right: 20px;
  margin-bottom: 0px;
  width: 500px;
  color: #D3D3D3;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: none;
}

.btn-enter-mini {
  grid-area: row-3-mini / col-start-mini / row-4-mini / col-2-mini;
  grid-auto-rows: auto;
  width: 75px;
  height: 40px;
  margin-bottom: 20px;
}

.spans-language-mini {
  grid-area: row-3-mini / col-2-mini / row-4-mini / col-stop-mini;
  grid-auto-rows: auto;
  margin-top: 10px;
  margin-left: 230px;
}

.container-introduction {
  z-index: 9;
  position: absolute;
}

@media (max-width: 576px) {
  .container-introduction {
    grid-template-columns: [col-start] auto [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] auto [row-4] 40px [row-stop];
    display: grid;
    z-index: 9;
    position: absolute;
    top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-introductionDevelopment {
    grid-area: row-start / col-start / row-1 / col-stop;
    grid-auto-rows: auto;
    width: 300px;
    height: 100px;
  }

  .h1-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #D3D3D3;
  }

  .text-introduction {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    padding-right: 20px;
    width: 100%;
    max-height: 150px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-3 / col-start / row-4 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-4 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .container-introduction {
    grid-template-columns: [col-start] auto [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] auto [row-4] 40px [row-stop];
    display: grid;
    z-index: 9;
    position: absolute;
    top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo-introductionDevelopment {
    grid-area: row-start / col-start / row-1 / col-stop;
    grid-auto-rows: auto;
    width: 300px;
    height: 100px;
  }

  .h1-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .text-introduction {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    padding-right: 20px;
    width: 450px;
    max-height: 300px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-3 / col-start / row-4 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-4 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .container-introduction {
    grid-template-columns: [col-start] auto [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] auto [row-4] 40px [row-stop];
    display: grid;
    z-index: 9;
    position: absolute;
    top: 120px;
    margin-left: 50px;
  }

  .logo-introductionDevelopment {
    grid-area: row-start / col-start / row-1 / col-stop;
    grid-auto-rows: auto;
    width: 300px;
    height: 100px;
  }

  .h1-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .text-introduction {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    width: 506px;
    max-height: 300px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-3 / col-start / row-4 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-4 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .container-introduction {
    grid-template-columns: [col-start] auto [col-stop];
    grid-template-rows: [row-start] 135px [row-1] auto [row-2] auto [row-3] auto [row-4] 40px [row-stop];
    display: grid;
    z-index: 9;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
  }

  .logo-introductionDevelopment {
    grid-area: row-start / col-start / row-1 / col-stop;
    grid-auto-rows: auto;
    width: 400px;
    height: 135px;
  }

  .h1-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .text-introduction {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    width: 506px;
    max-height: 400px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-3 / col-start / row-4 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-4 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 1140px) {
  .container-introduction {
    grid-template-columns: [col-start] auto [col-stop];
    grid-template-rows: [row-start] 135px [row-1] auto [row-2] auto [row-3] auto [row-4] 40px [row-stop];
    display: grid;
    z-index: 9;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;
  }

  @media (min-width: 1400px) {
    .container-introduction {
      margin-left: 150px;
    }
  }

  .logo-introductionDevelopment {
    grid-area: row-start / col-start / row-1 / col-stop;
    grid-auto-rows: auto;
    width: 400px;
    height: 135px;
  }

  .h1-introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .text-introduction {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
    margin-top: 10px;
    width: 506px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans-language {
    grid-area: row-3 / col-start / row-4 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-4 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

/* MENU */

.menu-container {
  z-index: 5;
  position: absolute;
}

.initPosition-container {
  z-index: 6;
  position: absolute;
}

@media (max-width: 799px) {
  .menu-container {
    grid-template-columns: [col-start-menu] 50px [col-1-menu] auto [col-2-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-stop-menu];
    display: grid;
    bottom: 0px;
    width: 100%;
    height: 50px;
  }

  .menu {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-2-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu-icon-cameraAnaglyph {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-1-menu;
    grid-auto-rows: auto;
  }

  .menu-icons {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom:0px;
    width: 50px;
    height: 50px;
    background-color: #00000066;
  }

  .icon-initPosition {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}

@media (min-width: 800px) {
  .menu-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 250px [row-1-menu] 50px [row-2-menu] auto [row-3-menu] 60px [row-stop-menu];
    display: grid;
    right: 0px;
    width: 50px;
    height: 100%;
  }

  .menu {
    grid-area: row-1-menu / col-start-menu / row-3-menu / col-stop-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu-icon-cameraAnaglyph {
    grid-area: row-1-menu / col-start-menu / row-2-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icons {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 60px [row-1-menu] 10px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom:0px;
    width: 50px;
    height: 60px;
    background-color: #00000066;
  }

  .icon-initPosition {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
  }
}

@media (max-height: 500px) {
  .menu-container {
    grid-template-columns: [col-start-menu] 40px [col-stop-menu];
    grid-template-rows: [row-start-menu] 60px [row-1-menu] 40px [row-2-menu] auto [row-3-menu] 50px [row-stop-menu];
    display: grid;
    right: 0px;
    width: 40px;
    height: 100%;
  }

  .menu {
    grid-area: row-1-menu / col-start-menu / row-3-menu / col-stop-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu-icon-cameraAnaglyph {
    grid-area: row-3-menu / col-start-menu / row-4-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu-icons {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition-container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-1-menu] 5px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 50px;
    background-color: #00000066;
  }

  .icon-initPosition {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    margin-bottom: 5px;
  }
}

/* CARDS */

.container-cards-mini {
  z-index: 3;
  position: absolute;
}

.title-card-mini {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 200px;
  height: 70px;
}

.spans-language-cards-mini {
  position: absolute;
  top: 140px;
  left: 20px;
}

.btn-close-mini {
  position: absolute;
  top: 205px;
  left: 20px;
  width: 70px;
  height: 40px;
}

.texts-card-mini {
  position: absolute;
  top: 60px;
  left: 230px;
  color: #D3D3D3;
  width: 350px;
  max-height: 200px;
  font-size: 14px;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: none;
  padding-top: 10px;
  padding-right: 20px;
}

@media (max-width: 576px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 1fr [col-stop-cards];
    grid-template-rows: [row-start-cards] 100px [row-1-cards] auto [row-2-cards] auto [row-3-cards] 40px [row-stop-cards];
    display: grid;
    z-index: 3;
    position: absolute;
    top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 100px;
  }

  .texts-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    width: auto;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 15px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans-language-cards {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-3-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }

  .videos {
    margin-right: 20px;
    width: 320px;
  }
}

@media (min-width: 576px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 100px [row-1-cards] auto [row-2-cards] auto [row-3-cards] 40px [row-stop-cards];
    display: grid;
    z-index: 8;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 100px;
  }

  .texts-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans-language-cards {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-3-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }

  .videos {
    margin-right: 20px;
    width: 320px;
  }
}

@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 100px [row-1-cards] auto [row-2-cards] auto [row-3-cards] 40px [row-stop-cards];
    display: grid;
    z-index: 3;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 100px;
  }

  .texts-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 300px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans-language-cards {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-3-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }

  .videos {
    margin-right: 20px;
    width: 330px;
  }
}

@media (min-width: 960px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 400px [col-stop-cards];
    grid-template-rows: [row-start-cards] 100px [row-1-cards] auto [row-2-cards] auto [row-3-cards] 40px [row-stop-cards];
    display: grid;
    z-index: 3;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 100px;
  }

  .texts-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .spans-language-cards {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-3-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }

  .videos {
    margin-right: 20px;
    width: 380px;
  }
}

@media (min-width: 1140px) {
  .container-cards {
    grid-template-columns: [col-start-cards] 400px [col-stop-cards];
    grid-template-rows: [row-start-cards] 100px [row-1-cards] auto [row-2-cards] auto [row-3-cards] 40px [row-stop-cards];
    display: grid;
    z-index: 3;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin-left: 100px;
    padding-bottom: 20px;
  }

  @media (min-width: 1400px) {
    .container-cards {
      margin-left: 150px;
    }
  }

  .title-card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    width: 300px;
    height: 100px;
  }

  .texts-card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .spans-language-cards {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-3-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }

  /* VIDEOS */

  .videos {
    margin-right: 20px;
    width: 380px;
  }
}

/* BADGES */

.span-language {
  cursor: pointer;
}

.badge {
background-color: #777777;
}

/* SPANS DEVELOPMENT */

.span-development {
    font-size: 12px;
    padding-left: 20px;
}

/* CACHE */

.cacheMobileDevice-container {
  z-index: 2;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  padding-left: 10px;
  width: 6px;
}

::-webkit-scrollbar-track {
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff44;
}

/* LINKS */

.links {
  cursor: pointer;
}
